@import src/styles/vars

.title
  margin-bottom: $space_normal

.comment
  padding: .625rem $space_normal
  text-align: left
  background-color: $color_page_bg
  border-radius: .25rem

.details
  display: flex
  align-items: center

.textarea
  & :global(.MuiOutlinedInput-root)
    height: 36px
  & :global(.MuiInputBase-root.MuiOutlinedInput-root)
    padding: 0
    textarea
      height: 22px !important

.options
  margin-left: $space_tiny
  transform: rotate(-90deg)

.group
  display: flex
  gap: .375rem
  margin-top: 2px

.button
  margin-top: $space_normal !important

  &:global(.MuiButton-root)
    &:hover
      background-color: $color_primary
      color: $color_white !important

.buttonWithoutText
  &:global(.MuiButton-root)
    background-color: $color_primary !important
    border-color: $color_primary !important
    color: $color_white !important
    opacity: .5

.buttonCancel
  margin-top: $space_normal !important
  margin-left: $space_normal
  color: $color_black !important
  border-color: #e0e0e0 !important

.new
  margin-top: $space_normal

.time
  color: $color_font_secondary

.replies
  display: flex
  align-items: center
  margin-bottom: 1.0625rem
  color: $color_link_hover
  &:global(.MuiTypography-root)
    font-weight: 500

  svg
    padding-top: 2px

.commentBox
  display: flex
  gap: .5rem
  background: none
  width: 100%
  margin-top: .375rem

.commentContent
  width: 100%

.commentsBox
  margin-top: $space_normal

.newCommentBox
  display: flex
  gap: .5rem
  align-items: flex-start
  background: transparent
  margin-bottom: $space_tiny

.editor
  &:global(.MarkdownEditor .CodeMirror-scroll)
    min-height: .5rem !important
  & :global(.CodeMirror-wrap)
    padding: $space_mini $space_normal
    border-color: $color_primary
    
.editorActive
  & :global(.CodeMirror-wrap)
    padding: $space_small $space_normal
